.sidebar-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 200px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    transition: transform 0.3s ease;
    background-color: #0f0f0f;
    /* border: 1px solid red; */
}

.sidebar-list {
    padding: 0;
    margin: 1rem 0;
}

.sidebar-item {
    margin: 0 .8rem;
    padding: .8rem 1rem;
    border-radius: 10px;
}

.sidebar-item:hover {
    background-color: rgb(31, 31, 31);
    cursor: pointer;
    transition-property: background-color;
    transition-duration: .3s;
}

.sidebar-item.active {
    background-color: rgb(31, 31, 31)
}

.sidebar-toggle {
    display: none;
    position: fixed;
    left: 10px;
    top: 1rem;
    cursor: pointer;
}

@media (max-width: 600px) {
    .sidebar-content {
        width: 200px;
    }

    .sidebar-content.hidden {
        transform: translateX(-200px);
    }

    .sidebar-toggle {
        display: flex;
    }
}
