.sidebar-content {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.sidebar-list {
    padding: 0;
    margin: 1rem 0;
}

.sidebar-item {
    padding: 1rem 1rem;
    border-radius: 10px;
}

.sidebar-item:hover {
    background-color: black;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: .3s;
}

.active {
    background-color: black;
}
