.sidebar-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 200px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    transition: transform 0.3s ease;
    background-color: #131313;
    /* border: 1px solid red; */
}

.sidebar-list {
    padding: 0;
    margin: 1rem 0;
}

.sidebar-item {
    padding: 1rem 1rem;
    border-radius: 10px;
}

.sidebar-item:hover {
    background-color: black;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: .3s;
}

.sidebar-item.active {
    background-color: black;
}

.sidebar-toggle {
    display: none;
    position: fixed;
    left: 10px;
    top: 10px;
    cursor: pointer;
}

@media (max-width: 600px) {
    .sidebar-content {
        width: 200px; /* Adjust as needed */
    }

    .sidebar-content.hidden {
        transform: translateX(-200px); /* Matches the sidebar width */
    }

    .sidebar-toggle {
        display: block; /* Show toggle icon on small screens */
    }
}
