#root {
  margin: 0 auto;
}

.page {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.main {
  width: 100%;
  margin-left: 200px;
  padding: 0 1rem;
  /* border: 1px solid blue; */
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
}

@media screen and (max-width:600px) {
  .main {
    margin-left: 0;
    transition-property: margin-left;
    transition-duration: .3s;
  }
}
