#root {
  margin: 0 auto;
}

.page {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.sidebar {
  min-width: 130px;
  /* border: 1px solid red; */
}

.main {
  width: 100%;
  /* border: 1px solid blue; */
}
